
@mixin centerizeTag($justify:center,$aling:center){
    display:flex;
    justify-content: $justify;
    align-items: $aling;
    
}
@mixin positionCenter(){
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
@mixin responsive($braekpoint) {
    //-------- phone braekpoint 576px~36em
    @if $braekpoint==phone {
      @media only screen and(max-width:36em) {
        @content;
      }
    }
    //-------- phoneL braekpoint--- 768px~48em
    @if $braekpoint==phoneL {
      @media only screen and(max-width:48em) {
        @content;
      }
    }
    //-------- phoneL braekpoint--- 992px~62em
  
    @if $braekpoint==tablet {
      @media only screen and(max-width:62em) {
        @content;
      }
    }
    //-------- phoneL braekpoint--- 1200px~75em
  
    @if $braekpoint==tabletL {
      @media only screen and(max-width:75em) {
        @content;
      }
    }
       //-------- phoneL braekpoint--- 1800px~112.5em
  
    @if $braekpoint==laptap {
      @media only screen and(max-width:112.5em){
        @content;
      }
    }
  }