//colots

//!maincolors

$color-primary: #202938;
$color-secondary: #0761dc;
$color-tartiary: #ff04ab;
$color-secondary-light: #3379d8;

//!othercolors
$color-bg: #111a23;
$color-white: #fff;
$color-black: #000;
$color-subtitle: #7a7a7a;
$color-filter: #4c5564;
$color-green: rgb(5, 137, 5);
$color-orange: #ffa500;
$color-red-dark: #710819;
$color-red: #9b061c;
$color-red-light: #a41b2f;
$color-purple: #d338f8;
$color-purple-dark: #7e30a0;
$color-shadow: #8383ff;
$color-discount: #ffef00;
//*font-size
$font-size-sm: 11px;
$font-size-default: 16px;
$font-size-lg: 21px;
$font-size-title: 25px;

//*fontfamily
$font-poppins: "Poppins", sans-serif;
$font-rubik: "Rubik", sans-serif;
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
//width

$main-width: 95%;
