* {
  box-sizing: border-box;
  text-transform: capitalize;
}
html{
  font-size: 62.5%;
  @include responsive(phone) {
    font-size: 43.75%;
  }
  @include responsive(phoneL) {
    font-size: 50%;
  }
  @include responsive(tablet) {
    font-size: 56.25%;
  }
  @include responsive(tabletL) {
    font-size: 58.5%;
  }
}
li,
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: $color-bg;
  font-family: $font-poppins;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
