.tournaments {
  margin-top: 2.5rem;
  &__content {
    width: $main-width;
    margin: 0 auto;
    &-main {
      width: 100%;
      margin-top: 2rem;
      @include centerizeTag(space-between);
      @include responsive(tablet) {
        flex-direction: column;
      }
    }
    &-left {
      width: 69%;
      height: 100%;
    }
  }
  &__battle {
    width: 100%;
    padding: 1.5rem;
    background-color: $color-primary;
    border-radius: 1rem;
    @include centerizeTag(space-between);
    @include responsive(tablet) {
      flex-direction: column;
      gap: 3rem;
    }
    &-left {
      width: 60%;
      height: 100%;
    }
    &-right {
      width: 35%;
      height: 100%;
      @include responsive(tablet) {
        width: 100%;
      }
    }
    &-title {
      color: $color-white;
    }
    &-subtitle {
      color: $color-green;
      font-size: 1.3rem;
      font-weight: bold;
    }
    &-teams {
      @include centerizeTag(space-between);
      margin-top: 4.6rem;
      @include responsive(tablet) {
        flex-direction: column;
      }
    }

    &-flag {
      width: 11rem;
      height: 11rem;
      border-radius: 100%;
      @include centerizeTag();
      box-shadow: 0 0 2rem $color-shadow;

      &--1 {
        background-image: conic-gradient(#ff2b28 25%, #e73bf3 0);
      }
      &--2 {
        width: 15rem;
        height: 15rem;
        background-image: conic-gradient(red 25%, blue 0deg);
      }
      &--3 {
        background-image: conic-gradient(rgb(236, 168, 25) 25%, blue 0deg);
      }
    }

    &-circle {
      width: 95%;
      height: 95%;
      border-radius: 100%;
      @include centerizeTag();

      &--1 {
        background: radial-gradient(
          circle,
          #9c091c 0,
          #e31c3b 50%,
          #323676 100%
        );
      }
      &--2 {
        background: radial-gradient(
          circle,
          rgb(6, 88, 198) 0px,
          rgb(12, 103, 138) 50%,
          rgb(0, 3, 7) 100%
        );
      }
      &--3 {
        background: radial-gradient(
          circle,
          rgb(236, 168, 25) 0px,
          rgb(236, 168, 25) 50%,
          rgb(0, 3, 7) 100%
        );
      }
    }
    &-img {
      width: 50%;
      object-fit: cover;
    }
    &-info {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
    &-name {
      color: $color-white;
      font-weight: bold;
    }
    &-count {
      color: $color-subtitle;
      font-weight: bold;
      font-size: 1.3rem;
    }

    &-sward {
      width: 5rem;
    }
    &-progress {
      width: 100%;
      height: 1.5rem;
      background-color: $color-bg;
      border-radius: 1.5rem;
      margin-top: 3.6rem;
      &-percent {
        width: 70%;
        background: linear-gradient(
          120deg,
          yellow 0%,
          rgb(228, 236, 127) 50%,
          rgb(255, 255, 183) 70%
        );
        border-radius: 1.5rem;
        height: 100%;
        font-size: $font-size-sm;
        font-weight: bold;
        @include centerizeTag();
      }
    }
    &-thead {
      width: 100%;
      height: 3.5rem;
      @include centerizeTag(space-between);
      &-icon {
        width: 10%;
        height: 100%;
        background-color: $color-secondary;
        color: $color-white;
        @include centerizeTag();
        font-size: $font-size-default;
        border-radius: 0.5rem;
      }
      &-group {
        width: 75%;
        height: 100%;
        background-color: $color-secondary;
        color: $color-white;
        @include centerizeTag();
        font-weight: bold;
        border-radius: 0.5rem;
      }
    }

    &-items {
      margin-top: 1rem;
    }
    &-item {
      @include centerizeTag(space-between);
      padding: 1rem 0.8rem;
      background-color: $color-bg;
      border-radius: 0.5rem;
      margin-top: 0.5rem;
      &.active {
        background-color: $color-red;
        .tournaments__battle-scores,
        .tournaments__battle-number {
          background-color: $color-red-dark;
        }
      }
      &:hover {
        background-color: $color-red-light;
        cursor: pointer;
        .tournaments__battle-scores,
        .tournaments__battle-number {
          background-color: $color-red-dark;
        }
      }
    }
    &-rate {
      @include centerizeTag();
      gap: 0.8rem;
    }
    &-kings {
      @include centerizeTag(flex-start);
      gap: 1.2rem;
      height: 100%;
    }
    &-image,
    &-coins {
      width: 2.2rem;
      height: 100%;
      object-fit: cover;
    }
    &-nameteam {
      color: $color-white;
      font-size: 1.6rem;
    }
    &-number,
    &-scores {
      width: 3rem;
      height: 2.5rem;
      background-color: $color-bg;
      @include centerizeTag();
      color: $color-white;
      font-size: 1.3rem;
      border-radius: 0.5rem;
    }
    &-counts {
      color: $color-white;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
  &__info {
    &-item {
      @include centerizeTag(space-between);
      margin-top: 2rem;
      background-color: $color-primary;
      padding: 2rem;
      border-radius: 1rem;
      position: relative;
      overflow: hidden;
      @include responsive(phone) {
        display: none;
      }
    }

    &-game {
      @include centerizeTag(flex-start);
      gap: 1rem;
    }
    &-image {
      @include centerizeTag(flex-start);
      gap: 1rem;
    }
    &-pic {
      width: 8rem;
    }
    &-destcription {
      @include centerizeTag(center, flex-start);
      flex-direction: column;
      gap: 0.5rem;
    }
    &-team {
      color: $color-white;
      font-weight: bold;
    }
    &-count {
      color: $color-subtitle;
      font-size: $font-size-sm;
    }
    &-name {
      @include centerizeTag();
      flex-direction: column;
      gap: 1rem;
      position: relative;
      &::before {
        content: "";
        width: 0.2rem;
        height: 10rem;
        background-color: $color-subtitle;
        position: absolute;
        left: -5rem;
        transform: rotate(20deg);
      }
    }
    &-key {
      color: $color-white;
      font-weight: bold;
    }
    &-value {
      color: $color-subtitle;
      font-weight: bold;
    }
    &-percent {
      width: 5rem;
    }
    &-bg1 {
      width: 15rem;
      height: 100%;
      background: linear-gradient(
        110deg,
        $color-purple-dark 0,
        $color-purple-dark 28%,
        $color-purple 28%,
        $color-purple 100%
      );
      position: absolute;
      top: 0;
      right: 0;
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
      @include centerizeTag();
      font-size: $font-size-title;
      color: $color-white;
      font-weight: bold;
      &.bg2 {
        background: linear-gradient(
          110deg,
          $color-secondary-light 0,
          $color-secondary-light 28%,
          $color-secondary 28%,
          $color-secondary 100%
        );
      }
    }
    &-more {
      width: 100%;
      padding: 2rem 0;
      @include centerizeTag();
      color: $color-white;
      background-color: $color-secondary;
      margin-top: 1rem;
      border-radius: 10rem;
      font-weight: bold;
      font-size: $font-size-default;
    }
  }
  &__closing {
    width: 30%;
    height: 100%;
    background-color: $color-primary;
    border-radius: 1rem;
    padding: 1.5rem;
    height: 75.5rem;
    @include responsive(tablet) {
      width: 70%;
    }
    @include responsive(phone) {
      width: 100%;
    }

    &-title {
      color: $color-white;
      font-size: $font-size-title;
      margin-bottom: 1rem;
      line-height: 2rem;
    }
    &-subtitle {
      color: $color-green;
      font-size: $font-size-default;
      font-weight: bold;
    }
    &-items {
      margin-bottom: 3rem;
    }

    &-teams {
      @include centerizeTag(space-between);
    }
    &-team {
      margin-top: 2rem;
    }
    &-neams {
      display: flex;
      flex-direction: column;
      margin-top: 2.5rem;
    }
    &-neam {
      font-size: 1.8rem;
      font-weight: bold;
      color: $color-white;
      margin-bottom: 0.5rem;
    }
    &-number {
      font-size: 1.4rem;
      color: $color-subtitle;
      font-weight: bold;
    }
    &-score {
      span {
        font-size: 2.3rem;
        font-weight: bold;
        color: $color-white;
        position: relative;
        top: -2.6rem;
        right: 16rem;
      }
    }

    &-link {
      margin-top: 3rem;
      width: 100%;
      padding: 1.5rem 0;
      @include centerizeTag();
      background: linear-gradient(
        to right,
        #bf953f,
        #fcf6ba,
        #b38728,
        #fbf5b7,
        #aa771c
      );
      cursor: pointer;
      border-radius: 0.5rem;
      font-weight: bold;
      transition: all 0.2s ease-in;
      &:hover {
        background: linear-gradient(to right, #facd7b, #fceabb, #e0bd7c);
        cursor: pointer;
        letter-spacing: 0.2rem;
      }
    }
  }
}
